<!-- Basic home page. Needs buttons to be connected but is good starting point for group-->

<!DOCTYPE html>
<html>
<head>
	<title>Flipped Tech</title>
	<link rel="stylesheet" type="text/css" href="/homePage.css">
</head>
<body>
	<h1>Flipped Tech</h1>
	<div class = "stripe">
		<button id = "home">Home</button>
		<button id = "courses">Courses</button>
		<button id = "bookmarks">Bookmarks</button>
		<button id = "calendar">Calendar</button>
	</div>
	<div class="leftpane">
    	<h3>Notifications</h3>
    	<ul>
    		<li>COMP 495</li>
    		<ul>
    			<li>External Feedback Needed for Sprint #0</li>
    			<li>Demo Grocery App for Dr. Garcia</li>
    		</ul>
    		<li>COMP 310</li>
    		<ul>
    			<li>Midterm on Tues (3/13)</li>
    		</ul>
  		</ul>
    </div>
  	<div class="middlepane">
  		<h3>Courses</h3>
  		<ul>
  			<li>COMP 495: Senior Project</li>
  			<li>COMP 310: Operating Systems</li>
  		</ul>
  	</div>
  	<div class="rightpane">
    	<h3>Upcoming Assignments</h3>
    	<ul>
    		<li>COMP 495</li>
    		<ul>
    			<li>Sprint 0 Due Fri (3/9)</li>
    			<li>Wireframes Due Fri (3/9)</li>
    		</ul>
    		<li>COMP 310</li>
    		<ul>
    			<li>Lab 4 Due Fri (3/9)</li>
    		</ul>
  		</ul>
    </div>

    <script type="text/javascript" src="/js/homePage.js"></script>


</body>
</html>