<!-- page for the lectures. It will embed the video and also display the lecture name, description and comment section
	The data we have currently is dummy data and will be read in from the data base later on -->



<h1>LECTURE PAGE</h1>

<%var title = "address"; %>
<%var description = "description"; %>
<%var address = "https://www.youtube.com/embed/tgbNymZ7vqY"; %>
<h3><%=title%></h3>
<h5><%=description%></h5>
<h3>Video</h3>
	<div class="leftpane">
		<iframe width="500" height="420"
			src="<%=address%>">
		</iframe>
	</div>
	

<h3>Comments</h3>
