<!-- Page will contain form for teachers to create lectures for their respective classes. Input includes course, lecture number, lecture title, lecture video and lecture description-->


<h1>LECTURE UPLOAD PAGE</h1>