<!-- page for the lectures. It will embed the video and also display the lecture name, description and comment section -->



<h1>LECTURE PAGE</h1>

<h3>Title</h3>
<h5>Description</h5>
<h3>Video</h3>

<h3>Comments</h3>