.Logo{
	font-family: 'Gloria Hallelujah', cursive;
	font-style: normal;
	font-weight: normal;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}