.stripe {
	background-color: lightgrey;
	height: 30px;
	text-align: left;
	color: black;
	height: 30px;
}

/*
Formatting for banner buttons
*/
button {
	border: none;
	background-color: lightgrey;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: black;
	letter-spacing: 1px;
	transition: all .3s;
}

/*
Formatting for header 1
*/
h1 {
	text-align: center;
	line-height: 1.1;
	font-size: 70px;
	color: black;
	background-color: white;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

.selected {
	background-color: white;
	color: black;
}

.rightpane {
  width: 33%;
  height: 100%;
  position: relative;
  float: right;

}

.middlepane {
    width: 33%;
    height: 100%;
    float: left;

}

.leftpane {
    width: 33%;
    height: 100%;
    float: left;
}

